body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.box {
	position: relative;
	width: 500px;
	height: 360px;
}

.square {
	position: absolute;
	right: 15.2px;
	bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	background-color: rgb(255, 255, 255, 0.8);
	border: 1px solid #353533;
}

.img-in-square {
	width: 30px;
	height: 30px;
	opacity: 0.8;
}
